<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Book an appointment</h2>
  <form action="http://127.0.0.1:5000/patient/appointment" class="form-horizontal"   method="POST" >
    <div class="form-group">
        <label class="control-label col-sm-2" >Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  name="Name">
        </div>
      </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >rad_type</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  name="rad_type">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >start_date</label>
      <div class="col-sm-10">          
        <input type="datetime-local" class="form-control"  name="start_date">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" >end_date</label>
        <div class="col-sm-10">          
          <input type="datetime-local" class="form-control"  name="end_date">
        </div>
      </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-secondary">Submit</button>
        {{ mess }}
      </div>
    </div>
  </form>
</div>

</body>
</html>