<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
</head>
<body>

<div class="bgimg-1">
    <div class="row">
        <div class="column">
            <p> <a href="http://127.0.0.1:5000/doctor">
              <img border="0" alt="patients" src= "{{ url_for('static',filename='img/doc1.jpg') }}" width="300" height="300" class="pictry" class="try"></a></p></div>
              <div class="column">
            <p> <a href="http://127.0.0.1:5000/patient">
              <img border="0" alt="patients" src= "{{ url_for('static',filename='img/image.jpg') }}" width="300" height="300" class="pictry"></a></p></div>
    </div>
</div>

</body>
</html>




     